.cart-img {
    max-width: 5em;
}
@media (max-width: 576px) {
    .cart-img {
        max-width: 4em;        
    }
    .container {
        padding: 0;
    }
    #confirmPurchase {
        width: 50% !important;
    }
}

.fa-trash:hover {
    color: rgb(167, 1, 1);
    cursor: pointer;
}

#successfulPurchaseAlert {
    z-index: 999;
}