.cart-img {
    max-width: 10em;
}

li span .form-control {
    max-width: 70%;
}

@media (max-width: 576px) {
    #cart {
        overflow: auto;
    }
    .container {
        padding: 0;
    }
    #confirmPurchase {
        width: 50% !important;
    }
}

@media (max-width: 767px) {
    .cart-img {
        max-width: 15em;        
    }
    li span .form-control {
        max-width: 40%;
    }
}

.fa-trash:hover {
    color: rgb(167, 1, 1);
    cursor: pointer;
}

#successfulPurchaseAlert {
    z-index: 999;
}