$body-background-color: rgb(24, 26, 27);
$font-color: rgb(209, 205, 199);

.darkMode {
    background-color: $body-background-color;
    color: $font-color;

    #showUserEmail {
        color: $font-color;
    }

    .navbar-dark {
        background-color: $body-background-color;
    }

    .form-control,
    input.formElement {
        color: $font-color;
        background-color: rgb(32, 32, 32);
        border-color: rgb(60, 65, 68);
    }

    input.formElement {
        color: $font-color;
        background-color: rgb(59, 59, 59);
    }

    input.formElement:focus {
        outline-style: solid;
        outline-width: thin;
        outline-color: rgb(119 82 140);
    }

    .form-control::placeholder {
        color: $font-color;
    }

    .list-group-item {
        color: $font-color;
        text-decoration-color: initial;
        background-color: $body-background-color;
        border-color: rgba(140, 130, 115, 0.13);
    }

    .img-thumbnail {
        background-color: $body-background-color;
        border-color: rgb(56, 61, 63);
    }

    #productCategory,
    #productCurrency,
    #file-upload {
        background-color: $body-background-color;
        color: $font-color;
    }

    .nsm7Bb-HzV7m-LgbsSe {
        background-color: rgb(24, 26, 27);
        background-image: none;
        border-color: rgb(58, 62, 65);
        color: rgb(192, 186, 178);
        outline-color: initial;
        .nsm7Bb-HzV7m-LgbsSe-MJoBVe {
            background-color: rgb(24, 26, 27);
            color: rgb(192, 186, 178);
        }
    }

    input:-webkit-autofill,
    input:-webkit-autofill:focus {
        transition: background-color 600000s 0s, color 600000s 0s;
    }
}