.w-20 {
    width: 20%;
}

#newCommentBox {
    margin-top: 80px;
}

#newCommentBox h2 {
    user-select: none;
}

#commentTextBox {
    resize: none;
}

.heartScoreContainer, #sendCommentButton, #clearButton {
    user-select: none;
}

#pickScoreHearts {
    font-size: 1.5em;
}

.unclickable {
    pointer-events: none;
}

.hoverHeart {
    color: red;
}

.dataAlert {
    font-size: 15px;
}

.relatedProduct {
    user-select: none;
}